
.icon-ok-outline:before { content: '\e800'; } /* '' */
.icon-star-filled:before { content: '\e801'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */